#email{
   padding:6px;
   border-radius:15px;
   width:250px;
   text-indent:10px;
   border:1px solid white;
   margin-left:410px;
   margin-top:250px;
}
 
body{
color:white;
background:black;
background-image:url("s2h.jpg");
background-repeat:no-repeat;
background-position:  center;
padding:10px;
}
button{
padding:5px;
 border-radius:6px; 
width:100px;
margin-left:490px;
background:black;
color:white;
border-color:white;

}
h1{
text-align:center;
margin:20px;
font-family:arial;

}
