#email{
   padding:6px;
   border-radius:15px;
   width:250px;
   text-indent:10px;
   border:1px solid white;
 
}
 
body{

color:white;
background:black;
background-image:url("s2h.jpg");
background-repeat:no-repeat;
background-position:center;
padding:10px;
}
button{
padding:5px;
border-radius:6px; 
width:100px;
background:black;
color:white;
border-color:white;

}
h1{
text-align:center;
margin:20px;
font-family:arial;
margin-bottom:300px;
}


 
#a{ 

justify-content:space-around;
display:flex;
align-items:center;

}
