#search{
width:80%;
border-radius:60px;
border:1px solid grey;
padding:9px;
text-indent:30px;
background:#f1f1f1;
margin-left:60px;
}

table{
width:100%;
margin:25px;
}

body{
background-color:black;
color:white;
}
#a{
margin-left:30%;
}


