th {
    padding: 8px;
}

body {
    background-image: url("order.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 200px;
   
}

button {
    margin-left: 30px;
    width: 50%;
    background: black;
    color: white;
    border-radius: 30px;
    padding: 8px;
    border: 1px solid white;
}